/*Global*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    text-align: center;
    color: white;
    font-size: 16px;
    line-height: 1.7;
}
.container {
    padding: 15px 0;
    text-align: center;
}
section {
    padding: 96px 0;
}
/*Navigation*/
.navigation {
    padding: 12px;
    background-image: url(https://images.pexels.com/photos/1546333/pexels-photo-1546333.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
}
.navigation {
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    li {
        padding-right: 35px;
        display: inline-block;
    }
}
h1 {
    text-align: left;
}
.page-title {
    text-align: center;
}
